.InvoiceDataWrapper {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;;
    text-align: left;
    width: 300px;
    float: left;
}
