.Row {
    width: 100%;
}

.FullInvoice {
    padding: 50px;
}

.FullInvoice:after,
.InvoiceDataWrapper:after,
.InvoiceInfoWrapper:after,
.Row:after,
.Clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.InvoiceInfoWrapper p {
    float: left;
    margin-right: 20px;
}

.BillToInfoWrapper {
    margin-bottom: 30px;
}

.HalfBox {
    width: 400px;
    float: left;
}
