body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F4F6F9;
}

h1 {
    padding: 2px 0px;
    margin: 15px 0px;
    color: #343a40;
    font-size: 30px;
    line-height: 40px;
}

main {
    padding: 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.mt-10 {
    margin-top: 10px;
}

.react-datepicker-wrapper input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    box-sizing: border-box;
}
