.Table {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
}

.Table td, .Table th {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}

.Table th {
    border-bottom: 2px solid #dee2e6;
    font-weight: 500;
}

.Table tbody tr:hover {
    background-color: #ececec;
}

.Card {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
}
