.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    height: 90%;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 50px;
    top: 50px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
