.Header {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: rgba(0,0,0,.5);
    border-bottom: 1px solid #dee2e6;
    margin-top: -20px;
}

.Header p {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0 0 20px;
    text-transform: uppercase;
}
