.Button {
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    padding: 8px;
    margin: 6px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
}

.Button:first-of-type {
    margin-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Primary {
    background-color: #007bff;
    border-color: #007bff;
}

.Secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.Success {
    background-color: #28a745;
    border-color: #28a745;
}

.Danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.Small {
    padding: 5px;
    margin: 0 5px 0 0;
}
